.fotoku{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 15px auto;
    display: block;
    border: solid 5px white;
    box-shadow: 1px 1px 15px blue;
}